@import "./base/reset.css";
@import "./base/base.css";

@import "./aside.css";
@import "./itc-modal.css";


#todolist_block { 
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}



.main-content {
    flex-grow: 1;
}

.block-all-tasks {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



.header-block {
    padding: 48px 55px 0px 55px;
    width: 100%;
    
}
.header-block__view-header-content {     /* Поле с контентом для header-а */
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    max-width: 800px;
    margin: 0 auto;
}

    .header-block__header-wrapper {   /* Поле для отображения header-а меню "Все задачи" */
        /* height: 85px; */
        display: flex;
        align-items: center;
    }
        .header-block__count-tasks-block {     /* Поле с заголовком и количеством тасков (общее количество, без учёта просроченных) */
            flex-grow: 1;
        }
        .header-block__count-tasks-block h1 {
            font-size: 20px;
        }
        .header-block__count-task-wrapper {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-left: 4px;
            color: gray;
        }
            .header-block__text-count {
                margin-left: 5px;
                padding: 2.5px;
            }

        .header-block__image img {
            max-width: 200px;
        }

        .header-block__filterTasks {   /* Поле с настройками сортировки тасков */
            display: flex;
            align-items: center;
            font-size: 14px;
        }
            .header-block__icon-filter {
                scale: 1;
                padding-top: 3px;
                margin-right: 5px;
            }







.section-content-block {
    padding: 0 55px 70px 55px;
    box-sizing: border-box;
}
.section-content-block__view-content {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}

.overdue {      /* внешнее поле с секциеей просроченных тасков */
    /* display: flex; */
    /* align-items: center; */
    /* padding-bottom: 15px; */
    /* border-bottom: 1px solid #eee; */
    margin-top: 35px;
}
    .overdue__header {      /* внутреннее поле с секциеей просроченных тасков */
        display: flex;
        position: relative;
        align-items: center;
        height: min-content;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        flex-grow: 1;
    }
        .overdue__btn {
            position: absolute;
            left: -25px;
            padding: 3px 7px 3px 7px;
            border-radius: 5px;
        }
            .overdue__btn-icon {      /* иконка стрелочки вправо */
                scale: 0.6;
                box-sizing: content-box;
            }
            .iconOverdue-rotateR {
                transform: rotate(90deg);
                transition: transform 0.5s ease-in-out;
            }
            .iconOverdue-rotateL {
                transform: rotate(0deg);
                transition: transform 0.5s ease-in-out;
            }
        .overdue__text-prosrocheno {
            font-weight: bold;
        }


/* /// */


.tasks__header {      /* Поле с сегодняшней датой и с кнопкой сортировки тасков */
    margin-top: 30px;
    padding: 6px 6px 5px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}
    .tasks__name-today {        /* Поле с сегодняшней датой */
        font-weight: bold;
    }
    .tasks__sort, .overdue__sort {             /* Поле c кнопкой сортировки тасков */
        flex: 1;
        text-align: right;
    }
        .tasks__sort-text, .overdue__sort-text {
            color: #a9a9a9fd;
        }
        .overdue__sort-btn, .tasks-sort-btn {
            /* padding: 12px 15px 12px 17px; */
            padding: 3px 7px 3px 7px;
            border-radius: 5px;
        }
            .tasks__sort img, .overdue__sort img {
                width: 12px;
                
                /* scale: 0.6; */
                
            }




.tasks__tasks-list, .overdue__tasks-list {       /* Поле со всеми тасками */
    list-style: none;
}


.task, .subtask {    /* Поле с таском */
    padding: 10px 0px 15px 0px;
    border-bottom: 1px solid #eee;
}
    .task__wrapper, .subtask__wrapper {     /* Внутреннее поле со всеми 3-мя элементами таска */
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        width: 100%;
        position: relative;
        /* overflow: hidden; */
    }
        .task__wrapper-button-task-checkbox, .subtask__wrapper-button-subtask-checkbox {
            position: relative;
        }
            .task__button-task-checkbox, .subtask__button-subtask-checkbox {     /* Кнопка для отметки завершения таска */
                border: 1px solid #ADADAD;
                padding: 8px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                width: 18px;
                height: 18px;
            }
                .task__button-task-checkbox_red, .subtask__button-subtask-checkbox_red {
                    border: 2px solid gray;
                    border-color: #D1453B;
                    background-color: #FAECEB;
                }
                .task__button-task-checkbox_orange, .subtask__button-subtask-checkbox_orange {
                    border: 2px solid gray;
                    border-color: #ED9521;
                    background-color: #FDF3E6;
                }
                .task__button-task-checkbox_blue, .subtask__button-subtask-checkbox_blue {
                    border: 2px solid gray;
                    border-color: #246FE0;
                    background-color: #E9F0FC;
                }
                .task__wrapper-button-task-checkbox img, .subtask__button-subtask-checkbox img {
                    position: absolute;
                    top: 5.5px;
                    left: 4px;
                    width: 11px;
                }
                .task__wrapper-button-task-checkbox img[src="./icon/MarkOk_ser.png"], .subtask__button-subtask-checkbox img[src="./icon/MarkOk_ser.png"] {
                    left: 3.5px;
                    top: 5px;
                }

        .task__task-list-itemsContent-wrapper, .subtask__subtask-list-itemsContent-wrapper {       /* Поле с контентом таска */
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-left: 10px;
        }
            .task__outerWrap-name-description, .subtask__outerWrap-name-description {      /* Внешнее поле с именем и описанием таска */
                display: flex;
                align-items: center;
                flex-direction: row;
                flex: 1;
                flex-grow: 2;
                /* margin-right: 20px; */
            }
                .task__innerWrap-name-description, .subtask__innerWrap-name-description {     /* Внутреннее поле с именем таска */
                    flex: 1;
                    /* height: 54px; */
                    /* white-space : nowrap; */
                    overflow: hidden;
                    /* text-overflow: ellipsis; */
                    max-width: 790px;
                }
                    .task__name-task, .subtask__name-subtask {      /* Поле с именем таска */
                        padding-bottom: 6px;
                    }
                    .task__description-task, .subtask__description-subtask {   /* Поле с описанием таска */
                        height: 50%;
                        display: flex;
                        margin-bottom: 5px;
                    }
                        .task__description-task-text, .subtask__description-subtask-text {     /* Поле с самим текстом описания */
                            width: 0;
                            flex-grow: 1;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis; 
                            font-size: 12px;
                            color: #666;
                        }
                        .itc-modal-body .task__description-task-text {     /* Поле с самим текстом описания */
                            white-space: normal;
                            overflow: hidden;
                            text-overflow: ellipsis; 
                        }

                    
        
            .task__deadline, .subtask__deadline {
                display: flex;
                align-items: center;
                align-self: self-start;
                flex: 1;
                font-size: 12px;
                color: #666;
            }
            .task__imgBlock-deadline, .subtask__imgBlock-deadline {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }

            .task__typeTask, .subtask__typeSubtask {      /* Поле с указанием типа таска (работа/дом/учёба) */
                display: flex;
                align-items: center;
                align-self: self-end;
                flex: 1;
                font-size: 12px;
                color: #666;
            }
            .task__imgBlock-typeTask, .task__imgBlock-typeTask_grid, .subtask__imgBlock-typeSubtask, .subtask__imgBlock-typeSubtask_grid {
                width: 15px;
                height: 15px;
                margin-left: 5px;
            }

        .task__dopFuncs, .subtask__dopFuncs {      /* Поле с дополнительными тремя кнопками к таску */
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 1;

            background-color: #FFFFFF;
            box-shadow: 0px -5px 15px 5px #FFFFFF;;
            border-radius: 5px;

        }
            .task__dopFunction, .subtask__dopFunction {      /* Дополнительные кнопки к таску */
                position: relative;
                margin: 0 0 0 10px;
            }   
            .task__dopFunction:first-child, .subtask__dopFunction:first-child {      /* Дополнительные кнопки к таску */
                margin: 0px;
            }   
                .task__dopFunction_iconWrap, .subtask__dopFunction_iconWrap {
                    width: 100%;
                    height: 100%;
                    box-sizing: content-box;
                    padding: 5px 5px 2px 5px;
                }
                    .task__dopFunction img, .subtask__dopFunction img {
                        width: 17px;
                    }




.add-new-task {     /* Добавить новый таск */
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.add-new-task__text {
    color: #666;
    margin-left: 4px;
}
.add-new-task__text_hovered, .add-new-task__text_hovered span {       /* Добавляется при наведении (через js) */
    color: red;
    cursor: pointer;
}



.form-from-add-new-task {
    border: 0.5px solid #e6e6e6;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
    display: flex;
    flex-direction: column;
}

    .form-from-add-new-task__textarea-from-add-new-task {
        margin-left: 10px;
        padding: 3px 0px;
        border: none;
        outline: none!important;
        resize: none;
    }
    .form-from-add-new-task__name-new-task {
        font-weight: bold;
        margin-bottom: 3px;
        font-size: 14px;
    }
    .form-from-add-new-task__description {
        font-size: 13px;
    }

    .form-from-add-new-task__dop-settings-for-new-task_wrapper {
        position: relative;
        margin-top: 5px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: gray;
    }
    


        .form-from-add-new-task__select-deadline, .form-from-add-new-task__select-priority {
            position: relative;
            display: flex;
            align-items: center;
            padding: 5px;
            border: 0.3px solid #e6e6e5;
            border-radius: 5px;
            margin-right: 10px;
        }   
            /* Все флаги кроме №4 (прозрачный чёрный) */
            .form-from-add-new-task__select-priority .form-from-add-new-task__icon-selected-setting:not(.form-from-add-new-task__icon-selected-setting[src = "./icon/priority_4.png"]) {
                filter: brightness(100%) !important;
            }
            .form-from-add-new-task__text-settings, .itc-modal-body__text-settings {
                margin-left: 5px;
                color: #666;
                font-size: 13px;
            }
            .form-from-add-new-task__icon-cross, .itc-modal-body__icon-cross {
                margin: 3px 0 0 5px;
            }
                .form-from-add-new-task__icon-cross img, .itc-modal-body__icon-cross img {
                    width: 12px;
                    display: block;
                }
                .form-from-add-new-task__icon-cross:hover {
                    filter: brightness(20%) !important;
                    /* background-color: red; */
                }

        
        /* Родительское Поле для выбора срока выполнения таска (кнопка выбора и скрытое меню) */
        .form-from-add-new-task__setting-deadline {
            position: relative;
        }
            /* Скрытое меню выбора срока выполнения у таска и подзадачи (и вне мо, и внутри мо везде) (общие) */
            .form-from-add-new-task__hidden-menu-deadline, .task__dopFunction__hidden-menu-deadline, .subtask__dopFunction__hidden-menu-deadline, .itc-modal-body__hidden-menu-deadline {
                position: absolute;
                z-index: 3;
                background-color: #FFFFFF;
                border: 1px solid #eee;
                border-radius: 10px;
                box-shadow: 0 3px 4px 0 rgba(0,0,0,.08);
                width: 250px;
            }

            /* Скрытое меню выбора срока выполнения у таска (вне мо) при редактировании/создании задачи */
            .form-from-add-new-task__bnt-settings .form-from-add-new-task__hidden-menu-deadline {
                left: 112px;
                top: -207px;
            }

            /* Скрытое меню выбора срока выполнения у таска (вне мо) и у подзадач по кнопке "назначить срок" */
            .task__btnNewDeadline .task__dopFunction__hidden-menu-deadline, .subtask__btnNewDeadline .subtask__dopFunction__hidden-menu-deadline {
                left: -250px;
                top: -237px;
            }

            /* Скрытое меню выбора срока выполнения для новой создаваемой подзадачи (в МО у подзадач) */
            .itc-modal-body .form-from-add-new-task__hidden-menu-deadline {
                left: 90px;
                top: -180px;
            } 
            
                /* Список ul из всех коротких текстовых вариантов выбора срока (сегодня, завтра, след неделя и тд) */
                .form-from-add-new-task__deadline-list, .task__dopFunction__deadline-list, .itc-modal-body__deadline-list, .subtask__dopFunction__deadline-list {
                    position: relative;
                    list-style: none;
                    font-size: 13px;
                    border-bottom: 1px solid #dfdfdf;
                    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.08); */
                    padding-bottom: 20px;
                }   
                    /* Отдельный элемент li этого списка */
                    .form-from-add-new-task__deadline-item, .task__dopFunction__deadline-item, .itc-modal-body__deadline-item, .subtask__dopFunction__deadline-item {
                        padding: 8px 12px;
                        display: flex;
                        align-items: center;
                        align-content: space-between;
                    }
                        /* Уникальные иконки этих элементов */
                        .form-from-add-new-task__deadline-icon, .task__dopFunction__deadline-icon, .itc-modal-body__deadline-icon, .subtask__dopFunction__deadline-icon {
                            display: block;
                            width: 20px;
                            margin-right: 10px;
                        }
                        /* span с названием этого элемента */
                        .form-from-add-new-task__deadline-name, .task__dopFunction__deadline-name,  .itc-modal-body__deadline-name, .subtask__dopFunction__deadline-name {
                            font-weight: 500;
                            white-space: nowrap;
                        }
                        /* Пояснение с указанием даты в виде числа и месяца */
                        .form-from-add-new-task__deadline-info, .task__dopFunction__deadline-info,  .itc-modal-body__deadline-info, .subtask__dopFunction__deadline-info {
                            color: #979797;
                            flex: 1;
                            text-align: right;
                        }
                /* Календарь для выбора срока выполнения */
                .form-from-add-new-task__hidden-menu-deadline-calendare, .task__dopFunction__hidden-menu-deadline-calendare, .subtask__dopFunction__hidden-menu-deadline-calendare,  .itc-modal-body__hidden-menu-deadline-calendare {
                    position: relative;
                    width: 250px;
                    margin-top: 5px;
                    border-right: 1px solid #eee;
                }   
                    /* Внутренний блок этого календаря */
                    .form-from-add-new-task__hidden-menu-deadline-calendare .air-datepicker, .task__dopFunction__hidden-menu-deadline-calendare .air-datepicker, .subtask__dopFunction__hidden-menu-deadline-calendare .air-datepicker, .itc-modal-body__hidden-menu-deadline-calendare .air-datepicker {
                        position: unset;
                        border: none;
                        box-shadow: none;
                    }



        /* Родительское Поле для выбора приоритета нового таска (кнопка выбора и скрытое меню) */
        .form-from-add-new-task__setting-priority {
            position: relative;
        }
            /* Скрытое меню выбора срока выполнения для нового создаваемого таска */
            .form-from-add-new-task__hidden-menu-priority, .itc-modal-body__hidden-menu-priority {
                position: absolute;
                z-index: 2;
                background-color: #FFFFFF;
                border: 1px solid #eee;
                border-radius: 10px;
                box-shadow: 0 3px 4px 0 rgba(0,0,0,.08);
                left: -30px;
                top: -140px;
                width: 150px;
            }

                /* Список ul из всех вариантов выбора приоритета */
                .form-from-add-new-task__priority-list, .itc-modal-body__priority-list {
                    position: relative;
                    list-style: none;
                    font-size: 13px;
                    border-bottom: 1px solid #dfdfdf;
                    /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.08); */
                }  

                    /* Отдельный элемент li этого списка */
                    .form-from-add-new-task__priority-item, .itc-modal-body__priority-item {
                        padding: 8px 12px;
                        display: flex;
                        align-items: center;
                        align-content: space-between;
                    }

                        /* Уникальные иконки этих элементов */
                        .form-from-add-new-task__priority-icon, .itc-modal-body__priority-icon {
                            display: block;
                            width: 15px;
                            margin-right: 10px;   
                        }
                        /* span с названием этого элемента */
                        .form-from-add-new-task__priority-name, .itc-modal-body__priority-name {
                            font-weight: 500;
                            white-space: nowrap;
                        }
                        /* Контейнер для иконка с отметкой выбранного приоритета */
                        .form-from-add-new-task__priority-icon-selected, .itc-modal-body__priority-icon-selected {
                            width: 15px;
                            text-align: right;
                            flex: 1;
                        }
                            .form-from-add-new-task__priority-icon-selected img, .itc-modal-body__priority-icon-selected img {
                                width: 15px;
                            }




    .form-from-add-new-task__footer {
        position: relative;
        border-top: 1px solid #eee;
        padding: 7px 10px;
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;     /* Размещаю ".form-from-add-new-task__select-type-task" слева, а ".buttuns_Close_AddNewTask" справа */
    }   
        /* Скрытое меню для выбора типа нового создаваемого таска */
        .form-from-add-new-task__hidden-menu-types-task, .itc-modal-body__hidden-menuTypesTask {
            position: absolute;
            z-index: 2;
            top: -161px;
            left: -100px;
            width: 250px;
            height: 170px;
            overflow-y: auto;
            /* overflow-y: scroll; */
            background-color: #FFFFFF;
            border: 1px solid #eee;
            border-radius: 10px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
        }   

        /* Скрытое меню для выбора типа нового создаваемого таска (Внутри МО у подзадач) */
        .itc-modal-body .form-from-add-new-task__hidden-menu-types-task {
            left: -10px;
        }

            /* Обёртка для инпута и для списка с существующими типами тасков */
            .form-from-add-new-task__wrapper-input-search, .itc-modal-body__wrapper-input-search, .my-type-projects__conteiner_from-hidden-menu {
                position: relative;
                list-style-type: none;
                font-size: 12px;
            }  
                .my-type-projects__conteiner_from-hidden-menu li {
                    padding: 8px 12px;
                }
            .form-from-add-new-task__wrapper-input-search, .itc-modal-body__wrapper-input-search {
                border: 1px solid #e6e6e6;
                border-radius: 5px;
                margin: 8px 8px 10px 8px;
            }
                .form-from-add-new-task__wrapper-input-search input, .itc-modal-body__wrapper-input-search input {
                    border: none;
                    padding: 6px 8px;
                    width: 100%;
                    font-size: 14px;
                }
        


        /* Кнопка для выбора типа создаваемого таска (открывает скрытое меню) */
        .form-from-add-new-task__select-type-task {
            border-radius: 10px;
            color: #666;
        }
            .form-from-add-new-task__select-type-task *  {
                margin-right: 5px;
            }
            .form-from-add-new-task__select-type-task span {
                padding-bottom: 2px;
            }
            .form-from-add-new-task__select-type-task_hovered {
                color: black;
            }


        .form-from-add-new-task__buttuns-closeAdd-new-task {
            display: flex;
            align-items: center;
        }
            .btn-close {     /* Кнопка отмены добавления нового таска */
                font-size: 13px;
                background-color: #F5F5F5;
                border-radius: 10px;
                padding: 0px 10px;
                margin-right: 20px;
                height: 32px;
            }
            .btn-close:hover {
                background-color: #4f4c4c2a;;
            }
            .btn-add, .btn-save {       /* Стиль кнопки, не зависимо от того, диактивирована она или же нет */
                color: #FFFFFF;
                font-size: 13px;
                height: 32px;
                background-color: #EDA59E;
                border-radius: 10px;
                padding: 0px 10px;
            }
            .btn-add[aria-disabled="false"], .btn-save[aria-disabled="false"] {    /* Стиль кнопки, если она не деактивирована (отключена диактивация) */
                background-color: #DC4C3E
            }
                .btn-add[aria-disabled="true"]:hover, .btn-save[aria-disabled="true"]:hover {   /* Стиль диактивированной кнопки, при наведении на неё */
                    cursor: not-allowed;
                }
                .btn-add[aria-disabled="false"]:hover, .btn-save[aria-disabled="false"]:hover {   /* Стиль не диактивированной кнопки, при наведении на неё */
                    background-color: #C3392C;
                }





